
.banner
{
  background:url(../images/banner.png) no-repeat 0px 0px;
  background-size:cover;
  min-height:494px;
  position:relative;
}

.banner-info h2
{
  color: #fff;
  font-size: 2.8em;
  font-weight: 300;
  letter-spacing: 3px;  
  margin-bottom: 0.7em;
}

.banner-info p
{
  color: #fff;
  font-size: 1.5em;
  font-weight: 400;
  line-height:1.5em;
}

.banner-info 
{
  background: rgba(92, 162, 204, 0.7);
  width: 40%;
  position: absolute;
  top: 17%;
  left: 14%;
  padding: 2.5em 2em;
}

@media screen and (max-width: 1366px) {
  .banner-info {
    width: 45%;
    left: 8%;
    top: 13%;
    padding: 2em 1.8em 2em 2em;
  }
  .banner-info h2 {
    font-size: 2.7em;
    letter-spacing: 2px;
    margin-bottom: 0.6em;
  }
  .banner-info p {
    font-size: 1.4em;
    line-height: 1.45em;
  }
  .banner-info a {
    font-size: 1.2em;
    padding: 9px 20px;
    width: 35%;
  }
  .banner {
    min-height: 421px;
  }
}

@media screen and (max-width: 1280px) {
  .banner-info {
    width: 44%;
    left: 4.5%;
    padding: 1.5em 1.5em 1.8em 1.5em;
  }
  .banner {
    min-height: 389px;
  }
  .banner-info h2 {
    font-size: 2.6em;
    letter-spacing: 1px;
    margin-bottom: 0.5em;
  }
  .banner-info p {
    font-size: 1.35em;
    line-height: 1.4em;
  }
  .banner-info a {
    font-size: 1.1em;
    margin-top: 1.8em;
  }
}

@media screen and (max-width: 1024px) {
  .banner-info h2 {
    font-size: 2.15em;
    letter-spacing: 0px;
  }
  .banner-info p {
    font-size: 1.25em;
  }
  .banner-info a {
    font-size: 1em;
    margin-top: 1.6em;
    padding: 7px 15px;
    width: 39%;
  }
  .banner-info {
    top: 10%;
    left: 3.5%;
    padding: 1.3em 1.3em 1.6em 1.3em;
  }
  .banner {
    min-height: 315px;
  }
}

@media screen and (max-width: 768px) {
  .banner {
    min-height: 234px;
  }
}

@media screen and (max-width: 640px) {
  .banner-info {
    width: 50%;
    padding: 10px 10px 15px 10px;
    top: 8%;
    left: 2.5%;
  }
  .banner-info h2 {
    font-size: 1.45em;
  }
  .banner-info p {
    font-size: 0.875em;
  }
  .banner-info a {
    font-size: 0.875em;
    margin-top: 1em;
    padding: 5px 0px;
    width: 47%;
  }
  .banner {
    min-height: 195px;
  }
}

@media screen and (max-width: 480px) 
{
   .banner-info p {
    display: none;
  }
  .banner-info h2 {
    font-size: 1.2em;
  } 
  .banner-info a {
    font-size: 0.75em;
    width: 54%;
    margin-top: 1.8em;
  }
  .banner {
    min-height: 170px;
  } 
  .header {
    padding: 10px 0;
    border-bottom: 2px solid #fc5700;
  }
  .subscribe {
    padding: 0;
  }
  .services-section h3 {
    font-size: 1.9em;
  }
  .banner-info {
    width: 48%;
    top: 18%;
    padding: 10px 10px 15px 11px;
  }
}

@media screen and (max-width: 320px) {
  .banner-info h2 {
    font-size: 0.95em;
  }
  .banner-info {
    width: 57%;
    padding: 5px 5px 10px 5px;
  }
  .banner-info a {
    font-size: 0.7em;
    width: 67%;
    margin-top: 1em;
  }
  .banner {
    min-height: 120px;
  }
}