.curriculum-section
{
  padding:1em 0;
}

.curriculum-section h3 
{
  color: rgb(51, 51, 51);
  font-size: 2.7em;
  font-weight: 300;
  letter-spacing:2px;
  margin-bottom:0.2em;
}

.curriculum-section h4 
{
  color: #fff;
  font-weight: 300;
  font-size: 1.9em;
  letter-spacing: 2px;
}

.curriculum-section p 
{
  color: #fff;
  font-weight: 300;
  font-size: 1.05em;
  line-height:1.4em;
  margin:8px 0 15px 0;
}


.strand-panel 
{
  border:0;
}

.strand-panel-body 
{
  padding: 15px 25px;
  margin-bottom: 15px;
}

.data-science-style
{
  background: #feb913;

}

.project-style 
{
  background: #329cd6;
}

.programming-style
{
  background: #7bbd42;
}

.networks-style
{
  background: #f05423;
}

.devices-style
{
  background: #aa7fc1;
}

i.arrow
{
  width: 35px;
  height: 35px;
  background: url('../images/img-sprite.png') no-repeat -471px 0px;
  display: inline-block;
}

.arrow1 
{
  margin-top: 15px;
}

.icons
{
  margin-top:2em;
}

.icons2
{
  margin-top:7em;
}

.icon-left
{
  float:left;
}

.icon-right
{
  float:right;
}

